@media screen and (max-width: 1366px) {
    .section-rd3{
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .texto-rd3{
        margin-left: 50px;
        margin-right: 50px;
    }
    .rd3 {
        margin-left: 50px;
        margin-right: 50px;  
    }
}



@media screen and (max-width: 1165px) {
    header {
        padding: 0px 30px;
    }

    .menu {
        background-color: var(--branco);
        text-align: center;
        display: block;
        visibility: hidden;
        overflow-y: hidden;
        width: 100%;
        height: 0;
        padding: 0 20px;
        position: absolute;
        top: 105px;
        left: 0;
        z-index: 1000;
        transition: 0.5s ease;
    }

    #nav.active .menu {
        height: calc(100vh - 105px);
        visibility: visible;
        overflow-y: auto;
    }

    .menu .link-menu-item {
        border-bottom: 2px solid var(--cinza);
        display: block;
        padding: 20px;
    }

    .link-menu-item {
        color: black;
    }

    .menu .link-menu-item:hover {
        background-color: var(--cinza);
    }

    .redeSocial {
        margin-top: 20px;
    }

    .icone {
        width: 50px;
    }

    .hamburguer {
        display: block;
    }

    .div-rd3 {
        justify-content: space-around;
        gap: 0;
    }

    .texto-rd3>h2, .rd3 h2{
        font-size: 1.2em;
    }

    .section-rd3{
        margin-left: 0px;
        margin-right: 0px;
    }

    .texto-rd3{
        font-size: 1em;
        margin-left: 0px;
        margin-right: 0px;
    }
    .rd3 {
        margin-left: 0px;
        margin-right: 0px;  
    }

}

@media screen and (max-width: 1115px) {

    .div-rd3 {
        grid-template: auto auto / auto;
    }

    div.resultado1,
    .resultado2 {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .input-num {
        width: 110px;
        height: 60px;
    }



}

@media screen and (max-width: 635px) {
    .grid {
        padding: 30px 30px;
    }

    .input-num {
        margin-left: 0;
    }

    div.input {
        margin-left: 0;
        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

@media screen and (max-width: 450px) {

    .div-titulo h1 {
        font-size: 1.8em;
    }

}