:root {
    --branco: #ffffff;
    --cinza: #ABABAB;
    --azul1: #6fbdf1;
    --azul2: #0050acb6;
    --azul3: #002D61;

    --result: #0050acb6;

}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to bottom, #0777f8af, #161142);
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-bottom: 2px solid var(--cinza);
}

.hamburguer {
    display: none;
    width: 30px;
    cursor: pointer;
}

.lines {
    background-color: var(--branco);
    width: 100%;
    height: 5px;
    border-radius: 3px;
    transition: 0.3s ease;
}

.line-top {
    transform: translateY(-5px);
}

.line-bottom {
    transform: translateY(5px);
}

.active .line-top {
    background-color: var(--cinza);
}

.active .line-mid {
    background-color: var(--cinza);
}

.active .line-bottom {
    background-color: var(--cinza);
}

.logo-img {
    width: 250px;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 1.1rem;
}

.link-menu-item {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

.link-menu-item:hover {
    color: var(--azul1);
    opacity: 0.8;
    border-bottom: 1px solid var(--blue3);
}

.icone {
    width: 30px;
    transition-duration: .3s;
}

.icone:hover {
    opacity: 0.75;
}

.grid {
    padding: 60px 80px;
    margin: 20px;
}


.texto-rd3>h2 {
    color: #002D61;
    padding: 30px;
    text-align: center;
}

.texto-rd3 {
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 1.2em;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
}

.section-rd3 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;

}


.div-rd3 {
    background-color: white;
    width: 100%;
    display: grid;
    grid-template: auto / auto;
    justify-content: center;
    gap: 20px;
}


.rd3 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-left: 80px;
    margin-right: 80px;

}

.rd3 p {
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;

}